﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AppManager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@if (environments != null)
{
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            @foreach (var env in environments)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@CreateManagerLink(env)">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @env
                    </NavLink>
                </li>
            }
        </ul>
    </div>
}

<div class="server-status-container">
    Server status: <span class="circle @HealthCssClass" />
</div>

<style>
    .healthy {
        background-color: green;
    }

    .unhealthy {
        background-color: red;
    }

    .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        bottom: 2px;
        margin-left: 5px;
    }

    .server-status-container {
        color: white;
        vertical-align: bottom;
        position: absolute;
        bottom: 0;
        margin: 5px;
    }
</style>