﻿@page "/manager/{EnvironmentName}"
@using AppManager.Client.Model

@if (configuration == null)
{
  <p>Loading...</p>
}
else
{
  <RadzenTabs Change="args => OnTabChanged(args)" >
    <Tabs>
      <RadzenTabsItem Text="Processes">
        <RadzenButton Text="Start all" Click="args => StartEnvironment()" />
        <RadzenButton Text="Stop all" Click="args => StopEnvironment()" />

        <svg class="progress-ring">
          <circle class="progress-ring__circle" r="14" cx="15" cy="15" style="@timerCircleStyle" />
        </svg>

        <RadzenGrid Data="@processes" TItem="Process">
          <Columns>
            <RadzenGridColumn TItem="Process" Property="Name" Title="Name" />
            <RadzenGridColumn TItem="Process" Property="Health" Title="Health" />
            <RadzenGridColumn TItem="Process" Title="Action">
              <Template Context="process">
                @if (process.Health == AppManager.Shared.ProcessHealth.Down)
                {
                  <RadzenButton Click="args => StartProcess(process.Name)" Text="Start" Style="background-color: mediumseagreen" />
                }
                else
                {
                  <RadzenButton Click="args => StopProcess(process.Name)" Text="Stop" />
                }
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Process" Property="Dependencies" Title="Dependencies">
              <Template Context="process">
                @String.Join(", ", process.Dependencies)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Process" Title="Exclude from batch">
              <Template Context="process">
                <RadzenLabel Text="Start:" />
                <RadzenCheckBox @bind-Value="@process.ExcludeFromStart" Change="args => ExclusionChanged()" TValue="bool" />
                <RadzenLabel Text="Stop:" />
                <RadzenCheckBox @bind-Value="@process.ExcludeFromStop" Change="args => ExclusionChanged()" TValue="bool" />
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </RadzenTabsItem>

      <RadzenTabsItem Text="Jobs">
        <RadzenGrid Data="@environment.Jobs" TItem="Job">
          <Columns>
            <RadzenGridColumn TItem="Job" Property="Name" Title="Name" />
            <RadzenGridColumn TItem="Job" Title="Action">
              <Template Context="job">
                <RadzenButton Click="args => RunJob(job.Name)" Text="Run" Style="background-color: mediumseagreen" />
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </RadzenTabsItem>

      @foreach (var (name, processes) in groups)
      {
        <RadzenTabsItem Text="@name">
          <RadzenButton Text="Start all" Click="args => StartGroup(name)" />
          <RadzenButton Text="Stop all" Click="args => StopGroup(name)" />

          <svg class="progress-ring">
            <circle class="progress-ring__circle" r="14" cx="15" cy="15" style="@timerCircleStyle" />
          </svg>

          <RadzenGrid Data="@processes" TItem="Process">
            <Columns>
              <RadzenGridColumn TItem="Process" Property="Name" Title="Name" />
              <RadzenGridColumn TItem="Process" Property="Health" Title="Health" />
              <RadzenGridColumn TItem="Process" Title="Action">
                <Template Context="process">
                  @if (process.Health == AppManager.Shared.ProcessHealth.Down)
                  {
                    <RadzenButton Click="args => StartProcess(process.Name)" Text="Start" Style="background-color: mediumseagreen" />
                  }
                  else
                  {
                    <RadzenButton Click="args => StopProcess(process.Name)" Text="Stop" />
                  }
                </Template>
              </RadzenGridColumn>
              <RadzenGridColumn TItem="Process" Property="Dependencies" Title="Dependencies">
                <Template Context="process">
                  @String.Join(", ", process.Dependencies)
                </Template>
              </RadzenGridColumn>
              <RadzenGridColumn TItem="Process" Title="Exclude from batch">
                <Template Context="process">
                  <RadzenLabel Text="Start:" />
                  <RadzenCheckBox @bind-Value="@process.ExcludeFromStart" Change="args => ExclusionChanged()" TValue="bool" />
                  <RadzenLabel Text="Stop:" />
                  <RadzenCheckBox @bind-Value="@process.ExcludeFromStop" Change="args => ExclusionChanged()" TValue="bool" />
                </Template>
              </RadzenGridColumn>
            </Columns>
          </RadzenGrid>
        </RadzenTabsItem>
      }
    </Tabs>
  </RadzenTabs>
}

<style>
  .progress-ring__circle {
    transition: stroke-dashoffset 0.8s;
    transform: translate(-4px,-6px) scaleX(-1) rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-width: 6;
    fill: transparent;
    stroke: cornflowerblue;
  }

  .progress-ring {
    height: 40px;
    width: 40px;
  }
</style>